PyPrind>=2.10.0
redis>=2.10.5
pandas>=0.22.0
#ta-lib
numpy==1.18	# for fix 3.6 testing error
scipy==1.1.0
scikit_learn==0.21.3
prettytable>=0.7.2
charade>=1.0.3
tushare>=1.1.7
matplotlib>=1.5.1
Pillow>=5.3.0
beautifulsoup4>=4.6.3
python_dateutil>=2.7.5
psutil>=5.4.8
#pyh>=0.1
pytdx>=1.67
mplfinance
