PyPrind==2.10.0
redis==2.10.5
numpy==1.14.1
pandas==0.22.0
TA_Lib==0.4.10
prettytable==0.7.2
charade==1.0.3
matplotlib==2.0.0
h5py==2.6.0
Pillow==5.0.0
python_dateutil==2.6.1
neurolab==0.3.5
psutil==5.4.3
pymemcache==1.4.4
rpy2==2.9.2
scikit_learn==0.19.1
win32gui==221.6
