v0.3
- 用py3重新实现读取ths的页面数据, 只针对一个代码的读取， 取消原有的整体爬取方式
	1) 读取分红表, 支持前复权
	2) 读取股本变更表, 支持成交量转换手率

- 获取日线后强制转换，套用前复权和转换为换手率
	1)先支持日线
	2) 后期支持5分钟线, 废弃分时支持

- 代码名称对照

- 数据源默认只支持LiveData， 其它使用自定义方式
	1) 自定义使用一个Tushare的例子

- 去除客户端使用的前复权计算